.draw {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: drawLine 2s ease forwards;
}

.delay1 {
  animation-delay: 0.5s;
}

.delay2 {
  animation-delay: 1.5s;
}

.delay3 {
  animation-delay: 2.3s;
}

@keyframes drawLine {
  to {
    stroke-dashoffset: 0;
  }
}